<h1>Contact Us</h1>
<form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()" class="form">

    <i *ngIf="name.touched && !name.valid" class="error">{{name.errors && name.errors['customRequired']}}</i>
    <label for="name">Name</label>
    <input [ngClass]="{'error': name.touched && !name.valid}" formControlName="name" type="text" name="name" id="name">

    <i *ngIf="advice.touched && !advice.valid" class="error">Is required</i>
    <label for="advice">Advice</label>
    <textarea formControlName="advice" name="advice" id="advice" cols="30" rows="10"></textarea>
    <div class="submitButtonWrapper" (mouseover)="showButtonError()" (mouseout)="hideButtonError()">
        <button [disabled]="!form.valid">Submit</button>
        <i *ngIf="!form.valid && buttonError" class="error">Form contains errors</i>
    </div>
</form>

<button (click)="cancel()">Cancel</button>